.cardtwo{
    margin-top: 210px !important;
}
/* .sidebar-widget {
    float: left;
    width: 85px;
    height: 85px;
    border: 4px solid #fff;
    margin-right: 15px;
}
.author-box {
    float: left;
    width: 85px;
    height: 85px;
    border: 4px solid #fff;
    margin-right: 15px;
} */
.img1 {
    float: left;
    width: 85px;
    height: 85px;
    border: 4px solid #fff;
    margin-right: 15px;
}
