.services-home a.text-base, .twitter-widget.contuct .twitter-area .text h5 a {
    color: #FF385C;
}
.twitter-widget.contuct .twitter-area .text h4, .inner-pages .twitter-widget.contuct .twitter-area .text h4 {
    color: #FF385C;
}
.welcome .popup-youtube, .first-footer .contactus ul li .fa {
    color: #FF385C;
}
.twitter-widget.contuct .twitter-area .icon-holder i {
    color: #FF385C;
}