<div class="main-register fl-wrap">
    <div mat-dialog-close class="close-reg"><i class="fa fa-times"></i></div>
    <h3>Welcome to <span>Find<strong>Houses</strong></span></h3>
    <div class="soc-log fl-wrap">
        <p>Login</p>
        <a class="facebook-log"><i class="fa fa-facebook-official"></i>Log in with Facebook</a>
        <a class="twitter-log"><i class="fa fa-twitter"></i> Log in with Twitter</a>
    </div>
    <div class="log-separator fl-wrap"><span class="or">Or</span></div>
    <div id="tabs-container">
        <ul class="tabs-menu">
            <li class="current1" (click)="login()"><a>Login</a></li>
            <li><a (click)="register()">Register</a></li>
        </ul>
        <div class="tab">
            <!-- login -->
            <div id="tab-1" class="tab-contents" *ngIf="openLogin">
                <div class="custom-form">
                    <form method="post" name="registerform">
                        <div class="form-group">
                            <label>Username or Email Address * </label>
                            <input name="email" type="text" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label>Password * </label>
                            <input name="password" type="password" value="" class="form-control">
                        </div>
                        <div class="btn-login">
                        <button type="submit" class="log-submit-btn login loginbtn"><span class="loginbtn">Log In</span></button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="filter-tags">
                            <div class="row remaind">
                                <div>
                            <input id="check-a" type="checkbox" name="check">
                        </div>
                        <div>
                            <label for="check-a">Remember me</label>
                        </div>
                        <div>
                            <p class="lost">Lost Your Password?</p>
                        </div>
                        </div>
                        </div>
                    </form>
                    
                </div>
            </div>

            <!-- register -->
            <div class="tab" *ngIf="openRegister">
                <div id="tab-2" class="tab-contents">
                    <div class="custom-form">

                        <form method="post" name="registerform">
                            <div class="form-group">
                                <label>Full Name *  </label>
                                <input name="email" type="text" class="form-control" value="">
                            </div>
                            <div class="form-group">
                                <label>Email Address * </label>
                                <input name="password" type="password" value="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Password * </label>
                                <input name="password" type="password" value="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Confirm Password * </label>
                                <input name="password" type="password" value="" class="form-control">
                            </div>
                            <div class="btn-login">
                            <button type="submit" class="log-submit-btn login loginbtn"><span class="loginbtn">Log In</span></button>
                            </div>

                        </form>
                        <!-- <form method="post" name="registerform" class="main-register-form" id="main-register-form2">
                            <label>First Name * </label>
                            <input name="name" type="text"  value="">
                            <label>Second Name *</label>
                            <input name="name2" type="text"  value="">
                            <label>Email Address *</label>
                            <input name="email" type="text" value="">
                            <label>Password *</label>
                            <input name="password" type="password" value="">
                            <button type="submit" class="log-submit-btn"><span>Register</span></button>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

      


</div>
