<div class="inner-pages hd-white about">
    <!-- Wrapper -->
    <div id="wrapper">

        <header id="header-container" style="height:90px;">
            <!-- Header -->
            <div id="header">
                <div class="container container-header">
                    <!-- Left Side Content -->
                    <div class="left-side">
                        <!-- Logo -->
                        <div id="logo">
                            <a href="index.html"><img src="../../../../assets/images/logo.png" alt=""></a>
                        </div>
                        <!-- Mobile Navigation -->
                        <div class="mmenu-trigger">
                            <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                        <!-- Main Navigation -->
                        <nav id="navigation" class="style-1">
                            <ul id="responsive">
                                <li><a href="index.html">Home</a></li>
                                <li><a routerLink="/about-us">About Us</a></li>
                                <li><a>Properties</a>
                                    <ul>
                                        <li><a routerLink="/bank-properties">Bank Properites</a></li>
                                        <li><a routerLink="/private-properties">Private Properties</a></li>
                                    </ul>
                                </li>
                                <li><a>More</a>
                                    <ul>
                                        <li><a routerLink="/faq">Faq</a></li>
                                        <li><a routerLink="/artical">Artical On IBA</a></li>
                                    </ul>
                                </li>
                                <li><a routerLink="/contact">Contact</a></li>

                            </ul>
                            <div class="right-side d-none d-none d-lg-none d-xl-flex sign ml-0">
                                <!-- Header Widget -->
                                <div class="header-widget sign-in">
                                    <div class="show-reg-form modal-open" ><a>Agent</a></div>
                                    <!-- <div class="show-reg-form modal-open" (click)="openPopUp()"><a>Agent</a></div> -->
                                </div>
                                <!-- Header Widget / End -->
                            </div>
                            <!-- <button mat-raised-button color="primary" (click)="openPopUp()">Open</button> -->
                            <!-- Right Side Content / End -->

                            <!-- lang-wrap-->
                            <div class="header-user-menu user-menu add d-none d-lg-none d-xl-flex">
                                <div class="lang-wrap">
                                    <div class="show-lang">
                                        <span><i class="fas fa-globe-americas"></i><strong>User</strong></span>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <!-- Main Navigation / End -->
                    </div>
                    <!-- Left Side Content / End -->

                    <!-- Right Side Content / End -->
                    <div class="right-side d-none d-none d-lg-none d-xl-flex">
                        <!-- Header Widget -->
                        <!-- <div class="header-widget">
                        <a href="add-property.html" class="button border">Add Listing<i class="fas fa-laptop-house ml-2"></i></a>
                    </div> -->
                        <!-- Header Widget / End -->
                    </div>
                    <!-- Right Side Content / End -->

                    <!-- Right Side Content / End -->

                    <!-- Right Side Content / End -->

                    <!-- lang-wrap end-->

                </div>
            </div>
            <!-- Header / End -->

        </header>

        <div class="clearfix"></div>

    </div>
</div>