<section class="headings">
  <div class="text-heading text-center">
    <div class="container">
      <h1>FAQ'S</h1>
      <!-- <h2><a href="index.html">Home </a> &nbsp;/&nbsp; Contact Us</h2> -->
    </div>
  </div>
</section>
<section class="faq service-details bg-white">
  <div class="container">
    <h3 class="mb-5">FREQUENTLY ASKED QUESTIONS</h3>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <!-- <ul class="accordion accordion-1 one-open">
                    <li class="active">
                        <div class="title">
                            <span>What is the purpose of this Portal?</span>
                        </div>
                        <div class="content">
                            <p>
                                This portal provides an enhanced user experience through seamless single window access to information by search based on the type and location of property put
up for e-auction by Indian banks. The common platform also provides for smooth navigation to the bank e-auction site once a notified property is selected.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <span>Does a user require registration/login to use the portal?</span>
                        </div>
                        <div class="content">
                            <p>
                                User can directly access the portal using single sign on option from google, facebook or they can register as new customer using username and password.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <span>What benefits are derived from this portal?</span>
                        </div>
                        <div class="content">
                            <p>
                                Potential bidders can select segmented data bank-wise and as per location (States
and Districts) across banks.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <span>Is nature of ownership of property given?</span>
                        </div>
                        <div class="content">
                            <p>
                                Information of the nature of ownership in the categories freehold, lease hold,
cooperative society and others is available on the portal.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <span>Is property classified in terms of its nature of use?</span>
                        </div>
                        <div class="content">
                            <p>
                                Yes, property is searchable across residential &amp;  commercial Properties
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <span>What type of Commercial property information is available?</span>
                        </div>
                        <div class="content">
                            <p>
                                Commercial property information is available with regard to type of property:
Office, Shop, Mall, Godown, Plot
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <span>What comprises property details as provided by the banks?</span>
                        </div>
                        <div class="content">
                            <p>
                                Property type, location, number of rooms ( in residential property) and type of
ownership and reserve price range will enable bidders to compare similar properties. properties of interest from the displayed list by clicking to view the bank e auction date, reserve price and property address and description.  Photographs of properties that have been uploaded can also be viewed.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <span>Can  bank property be bought without Auction ?</span>
                        </div>
                        <div class="content">
                            <p>
                                Yes, it is definitely possible. Our team would assist in closing the deal on your behalf.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <span>Does realhome share my information with others?</span>
                        </div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </li>
                </ul> -->
        <!--end of accordion-->




<div class="container">
    <h2>Accordion Example</h2>
    <p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Collapsible Group 1</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 2</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
         <a><h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a>
          </h4></a>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        </div>
      </div>
    </div> 
  </div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
