section.how-it-works {
    background: #fff;
    padding: 4.6rem 0;
}
.bg-white {
    background: #fff !important;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}
.homepage-9 .sec-title {
    text-align: center;
    padding-bottom: 2rem;
}
.how-it-works .sec-title {
    margin-left: .5rem;
}
.homepage-9 .sec-title h2 {
    color: #111;
    font-weight: 600;
    text-transform: capitalize;
}
.homepage-9 .sec-title h2 span {
    position: relative;
    color: #444;
    font-weight: 500;
}
.homepage-9 .sec-title h2 {
    color: #111;
    font-weight: 600;
    text-transform: capitalize;
}
.homepage-9 .sec-title p {
    margin-top: 13px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 400;
    color: #666;
    max-width: 550px;
}
.homepage-9 .sec-title {
    text-align: center;
    padding-bottom: 2rem;
}
.how-it-works .sec-title {
    margin-left: .5rem;
}
p {
    line-height: 26px;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
[data-aos][data-aos][data-aos-delay="150"].aos-animate, body[data-aos-delay="150"] [data-aos].aos-animate {
    transition-delay: .15s;
}
.how-it-works .serv-flex {
    background: #fff;
    color: #f55d2c;
    text-align: center;
    padding: 1.5rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 1px #e7e7e7 !important;
    box-shadow: 0px 0px 1px #e7e7e7 !important;
    border: 1px solid #e7e7e7;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.how-it-works .art-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.how-it-works article img {
    padding-right: 1rem;
    padding-bottom: .5rem;
    width: 100px;
    height: 100px;
    text-align: center;
}
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.how-it-works article h3 {
    color: #222;
    margin: 1.7rem 0 .2rem;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #333;
    font-weight: 600;
}
.how-it-works .art-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.text-center {
    text-align: center !important;
}
p {
    line-height: 26px;
}
.how-it-works article p {
    color: #666;
    margin-top: 1rem;
    margin-bottom: 0px;
}
.text-center {
    text-align: center !important;
}
p {
    line-height: 26px;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.how-it-works .serv-flex {
    background: #fff;
    color: #f55d2c;
    text-align: center;
    padding: 1.5rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 1px #e7e7e7 !important;
    box-shadow: 0px 0px 1px #e7e7e7 !important;
    border: 1px solid #e7e7e7;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
[data-aos][data-aos][data-aos-delay="250"].aos-animate, body[data-aos-delay="250"] [data-aos].aos-animate {
    transition-delay: .25s;
}
[data-aos][data-aos][data-aos-delay="350"].aos-animate, body[data-aos-delay="350"] [data-aos].aos-animate {
    transition-delay: .35s;
}
.how-it-works .serv-flex {
    background: #fff;
    color: #f55d2c;
    text-align: center;
    padding: 1.5rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 1px #e7e7e7 !important;
    box-shadow: 0px 0px 1px #e7e7e7 !important;
    border: 1px solid #e7e7e7;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.how-it-works .art-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.how-it-works article img {
    padding-right: 1rem;
    padding-bottom: .5rem;
    width: 100px;
    height: 100px;
    text-align: center;
}
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.how-it-works article h3 {
    color: #222;
    margin: 1.7rem 0 .2rem;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #333;
    font-weight: 600;
}
.how-it-works .art-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.how-it-works article p {
    color: #666;
    margin-top: 1rem;
    margin-bottom: 0px;
}
.text-center {
    text-align: center !important;
}
.how-it-works article p {
    color: #666;
    margin-top: 1rem;
    margin-bottom: 0px;
}
.text-center {
    text-align: center !important;
}
p {
    line-height: 26px;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.how-it-works .serv-flex {
    background: #fff;
    color: #f55d2c;
    text-align: center;
    padding: 1.5rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 1px #e7e7e7 !important;
    box-shadow: 0px 0px 1px #e7e7e7 !important;
    border: 1px solid #e7e7e7;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
[data-aos][data-aos][data-aos-delay="350"].aos-animate, body[data-aos-delay="350"] [data-aos].aos-animate {
    transition-delay: .35s;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}
}
section.how-it-works {
    background: #fff;
    padding: 4.6rem 0;
}
.bg-white {
    background: #fff !important;
}
