section.how-it-works {
    background: #fff;
    padding: 4.6rem 0;
}
.bg-white {
    background: #fff !important;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}
.homepage-9 .sec-title {
    text-align: center;
    padding-bottom: 2rem;
}
.how-it-works .sec-title {
    margin-left: .5rem;
}
.homepage-9 .sec-title h2 {
    color: #111;
    font-weight: 600;
    text-transform: capitalize;
}
.homepage-9 .sec-title h2 span {
    position: relative;
    color: #444;
    font-weight: 500;
}
.homepage-9 .sec-title h2 {
    color: #111;
    font-weight: 600;
    text-transform: capitalize;
}
.homepage-9 .sec-title p {
    margin-top: 13px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 400;
    color: #666;
    max-width: 550px;
}
.homepage-9 .sec-title {
    text-align: center;
    padding-bottom: 2rem;
}
.how-it-works .sec-title {
    margin-left: .5rem;
}
p {
    line-height: 26px;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
[data-aos][data-aos][data-aos-delay="150"].aos-animate, body[data-aos-delay="150"] [data-aos].aos-animate {
    transition-delay: .15s;
}
.how-it-works .serv-flex {
    background: #fff;
    color: #f55d2c;
    text-align: center;
    padding: 1.5rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 1px #e7e7e7 !important;
    box-shadow: 0px 0px 1px #e7e7e7 !important;
    border: 1px solid #e7e7e7;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.headhome{
    margin-top: 80px;
}

.carouselSlidecl{
   padding: 10px;
   height:100px;
   width:200px;
}
.carouselSlidec2{
    height: 500px;
}

.head1{
   padding-right: 15px;
   padding-left: 250px;
}
@media screen and (min-width: 1024px) {
    .landscapes{
      margin-left: 20px;
    }
  }
 .customOptions4{
    
 }   

.rld-main-search {
    margin-bottom: 0px;
    border-radius: 8px;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #ebebeb;
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.2);
}
