
.headhome{
    margin-top: 80px;
}

.carouselSlidecl{
   padding: 10px;
   height:100px;
   width:200px;
}
.carouselSlidec2{
    height: 500px;
}
.containerdi{

}
.head1{
   padding-right: 15px;
   padding-left: 250px;
}