<!-- login -->
<app-header></app-header>
<!--===BREADCRUMB PART START====-->
<section class="wsus__breadcrumb" style="background: url(uploads/website-images/banner-2023-10-09-05-08-42-8572.jpg);">
    <div class="wsus_bread_overlay">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h4>Agent Login</h4>
                    <nav style="--bs-breadcrumb-divider: '-';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Agent Login</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!--===BREADCRUMB PART END====-->



<section class="wsus__logon mt_45 mb_45">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-md-6">
                <div class="wsus__login_form">
                    <form id="loginFormSubmit" class="row g-3 needs-validation" novalidate>
                        <input type="hidden" name="_token" value="rarwmVFZl75kFznrgsqZZbOwhf7KmTzhJW1PDQfg">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fad fa-user-circle"></i>
                                    </span>
                                </div>

                                <input type="email" placeholder="Email" value="agent@gmail.com"
                                    class="form-control form-control-lg" id="loginEmail" name="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-key"></i>
                                    </span>
                                </div>
                                <input type="password" placeholder="Password" value="@admin#1234$"
                                    class="form-control form-control-lg" id="loginPassword" name="password" required>

                            </div>
                        </div>

                        <div class="wsus__check_area">
                            <div class="form-check">
                                <input name="remember" type="checkbox" required>
                                <label class="form-check-label" for="flexCheckDefault">
                                    Remember me
                                </label>
                            </div>
                            <a routerLink="forget-password.html">Forget Your Password ?</a>
                        </div>

                        <div class="wsus__reg_forget">
                            <button class="common_btn " type="submit" id="userLoginBtn" routerLink="/index">Login</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</section>

<!--=====SCROLL BUTTON START=====-->
<div class="wsus__scroll_btn">
    <i class="fas fa-chevron-up"></i>
</div>
<!--=====SCROLL BUTTON END=====-->
<app-footer></app-footer>