@import "../../../../assets/css/styles.css";


.sortBy {
    font-weight: 600;
    letter-spacing: .93px !important;
}

.listBtn {
    color: #121B22 !important;
    border: 1px solid #121B22;
    margin-left: 5px;
    border-radius: 2px;
    background: transparent;
    padding: 5px 9px;
}

.lde {
    color: #121B22 !important;
    /* border: 1px solid #121B22; */
    margin-left: 5px;
    border-radius: 2px;
    background: transparent;
    padding: 5px 9px;
}

.inner-pages .active-view-btn {
    background: #121B22 !important;
}

/* enter keyword */

.enterKeyword {
    width: 100%;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 7px;
}

.enterKeyword1 {
    height: 30px;
    border-radius: 5px;
    /* margin-right: 4px; */
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #757575;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.enterKeyword2 {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    position: relative;
}

.inputTxt {
    float: left;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
}


.tags a {
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    margin-bottom: .7rem;
    margin-left: .2rem;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.tags a:hover {
    color: #FF385C;
    border: 1px solid #FF385C;
    margin-bottom: .7rem;
    margin-left: .2rem;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.recent-img img {
    width: 90px;
    height: 70px;
    margin-right: 1rem;
}

.inner-pages .info-img a {
    text-decoration: none;
    color: #000;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.info-img h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #222;
    font-weight: 400;
}

.inner-pages {
    background: #fff;
    padding-bottom: 30px;
}

.blog {
    background: #fff;
    padding-bottom: 30px;
}

.main-search-field {
    background: #fff;
    padding-bottom: 30px;
}

.widget-boxed {
    border-radius: 6px;
    padding: 1.5rem;

    transform: translate3d(0, 0, 0);
    z-index: 90;
    margin-bottom: 0px;
    position: relative;
    border: 1px solid #eaeff5;
}

.widget-boxed {
    box-shadow: 0px 0px 2px #e7e7e7 !important;
}

.widget-boxed-header {
    padding-bottom: 1.5rem;
    padding-top: 0px;
    border-bottom: 1px solid #eaeff5;
}

.widget-boxed-header {
    color: #222 !important;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #222 !important;
    font-size: 18px;
    font-weight: 600;
    margin: 0;

}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.inner-pages.listing {
    width: 100%;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 0px;
}

.form-group {
    width: 100%;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 0px;
}

.inner-pages {
    margin-top: 30px;
}

.form-group.looking {
    margin-top: 30px;
}

.inner-pages {
    height: 30px;
    border-radius: 5px;
    margin-right: 4px;
    border: none;
    box-shadow: none;
    color: #757575;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.first-select {
    height: 30px;
    border-radius: 5px;
    margin-right: 4px;
    border: none;
    box-shadow: none;
    color: #757575;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.inner-pages {
    float: left;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    position: relative;
}

.main-search-input-item {
    float: left;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    position: relative;
}

button {
    overflow: visible;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    overflow: visible;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

optgroup {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

select {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.inner-pages {
    width: 100%;
}

.form-group.location {
    width: 100%;
}

.inner-pages.listing {
    width: 100%;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 0px;
}

.form-group {
    width: 100%;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 0px;
}

.inner-pages .nice-select.wide {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
}

.inner-pages .form-group .nice-select {
    margin: 0px;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: none;
    color: #757575;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.inner-pages .form-group .nice-select i {
    color: #777;
    font-size: 1.1rem;
    margin-top: 5px;
    margin-right: 10px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-map-marker:before {
    content: "\f041";
}

.inner-pages .form-group .nice-select i {
    color: #777;
    font-size: 1.1rem;
    margin-top: 5px;
    margin-right: 10px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.nice-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}

.nice-select .option.selected {
    font-weight: bold;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: border-box;
}

user agent stylesheet li {
    display: list-item;
    unicode-bidi: isolate;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;

}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;

}

.nice-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 8px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
    width: 8px;
}
.form1{
    height: 1150px;
}
.btn1{
    /* padding-bottom: 20px; */
    margin-top:20px;
}
.inner-pages .nice-select.wide {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
}

.inner-pages .form-group.location {
    width: 100%;
}

.inner-pages.listing .form-group {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 0px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.inner-pages .blog .hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-top: 2rem;
    font-size: 14px;
    background: #FF385C;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    padding: 12px 22px;
    border-radius: 0;
    transition: all .5s ease;
}