@import "../../../../assets/css/styles.css";


.sortBy {
    font-weight: 600;
    letter-spacing: .93px !important;
}

.listBtn {
    color: #121B22 !important;
    border: 1px solid #121B22;
    margin-left: 5px;
    border-radius: 2px;
    background: transparent;
    padding: 5px 9px;
}

.lde {
    color: #121B22 !important;
    /* border: 1px solid #121B22; */
    margin-left: 5px;
    border-radius: 2px;
    background: transparent;
    padding: 5px 9px;
}

.inner-pages .active-view-btn {
    background: #121B22 !important;
}

/* enter keyword */

.enterKeyword {
    width: 100%;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 7px;
}

.enterKeyword1 {
    height: 30px;
    border-radius: 5px;
    /* margin-right: 4px; */
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #757575;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.enterKeyword2 {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    position: relative;
}

.inputTxt {
    float: left;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
}


.tags a {
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    margin-bottom: .7rem;
    margin-left: .2rem;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.tags a:hover {
    color: #FF385C;
    border: 1px solid #FF385C;
    margin-bottom: .7rem;
    margin-left: .2rem;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.recent-img img {
    width: 90px;
    height: 70px;
    margin-right: 1rem;
}
.inner-pages .info-img a {
    text-decoration: none;
    color: #000;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.info-img h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #222;
    font-weight: 400;
}